.Rproj.user
.Rhistory
.RData
norscir.Rproj
data/NSdata.Rdata
inst/doc
inst/*.tex
inst/*.lof
inst/*.log
inst/*.lot
inst/*.toc
inst/*.gz
inst/Fig*
inst/NSsamleDok.pdf
inst/NSsamleDokLand.pdf
*.pdf
*.png
*.tex

# Many kinds of data files
*.rda
*.csv
*.tsv
*.xlsx
*.xls
*.sav
*.dta
*.sas7bdat
*.rds
*.RData
*.sql

*.zip
*.tar
*.gz

